[package]
name = "masto-thread-renderer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rocket = { version = "0.5.1", default-features = false }
figment = "0.10.7"
askama = { git = "https://github.com/djc/askama.git", rev = "8142963", features = [
    "config",
    "with-rocket",
    "mime",
    "mime_guess",
] }
askama_rocket = { git = "https://github.com/djc/askama.git", rev = "8142963" }
anyhow = "1.0.65"
base_url = "1.1.0"
reqwest = { version = "0.12.5", features = ["json", "gzip", "deflate"] }
serde = "1.0.144"
serde_json = "1.0.117"
html2md = "0.2.13"
env_logger = "0.11.3"

[build-dependencies]
npm_rs = "0.2.1"
